@charset "UTF-8";

body{
    background-image: url(stopwatch.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
/* Mixin's */  
@mixin transition {
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
@mixin corners ($radius) {
-moz-border-radius: $radius;
-webkit-border-radius: $radius;
border-radius: $radius; 
-khtml-border-radius: $radius; 
}

body {
background:base-color;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
height:100%;
}

.wrapper {
width: 800px;
margin: 110px auto;
color:antiquewhite;
text-align:center;
border-style: solid;
border-radius: 70px;
height: 500px;
border-color:lightcoral ;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
  color:lightsalmon;
  


  
}

#seconds, #tens{
  font-size:3em;
  color:lightcoral;
}

button{
@include corners (5px);
background:lightsteelblue;
color:lightcoral;
border: solid 1px lightcoral;
text-decoration:none;
cursor:pointer;
font-size:2em;
padding:18px 10px;
width:180px;
margin: 10px;
outline: none;
}

button:hover{
    @include transition;
	background:lightskyblue;
	border: solid 1px white;
	color:base-color;
	}


